<div *ngFor="let recipient of recipients" class="info">
    <div *ngIf="recipient?.user?.id !== userService?.userData?.id">
        <ng-container *ngIf="recipient?.last_seen === null">
            {{ getReceptionType(recipient) }} - {{ recipient?.user?.name }}: <span>no consultado</span>
        </ng-container>
        <ng-container *ngIf="recipient?.last_seen !== null">
            {{ getReceptionType(recipient) }} - {{ recipient?.user?.name }}: <span>{{ recipient?.last_seen }}</span>
        </ng-container>
    </div>
</div>
