.attachments-container{
    margin-top: 15px;
    margin-bottom: 15px;
}
.attachments-text {
    font-size: .7em;
    color: #6c757d;
    margin-top: 15px;
}

.document-text{
    font-size: .7em;
    color: #062c33;
}