.title {
    color: #4e555b;
    font-size: 1em;
}
/*TODO vertical center text*/
.cardContainer {
    height: 100px;
    width: 250px;
    word-wrap: break-word;
    /*background-color: #9fcdff;*/
    display: table-cell;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    text-align: center;
    background-color: rgb(76,112,152);
}

.organizationalUnit {
    font-size: 16px;
    color: rgb(195,214,223);
}

.user {
    font-size: 13px;
    color: rgb(195,214,223);
}

label {
    display: block;
    /*text-align: center;*/
    font-size: 20px;
    margin-top: 4px;
    margin-bottom: 8px;
}
