<div class=" subject-title">
    <h2 class="" mat-dialog-title> <span>{{ getReceptionType(subjectRequest?.destinatario) }}</span> - {{ subjectRequest?.title }} </h2>
</div>

<mat-dialog-content>

    <mat-tab-group>
        <mat-tab label="Asunto">
            <mat-divider></mat-divider>

            <div class="subject-creation-information">
                <div>
                    <strong>Fecha Elaboración:</strong> {{ subjectRequest?.destinatario.created_at }}
                </div>
                <div>
                    <strong>Fecha Inicio: </strong>{{ subjectRequest?.fromDate }}
                </div>
                <div>
                    <strong>Fecha Fin: </strong> {{ subjectRequest?.untilDate }}
                </div>
                <div>
                    <strong> Folio:   </strong> {{ subjectRequest?.folio }}
                </div>
            </div>

            <mat-divider></mat-divider>

            <div style="margin-top: 20px; margin-bottom: 20px;">
                <app-subject-documents [repositoryType]="'subject'"></app-subject-documents>
            </div>

            <dynamic-form [disableForm]="true" [fields]="formConfig"></dynamic-form>

            <app-subject-tasks [subjectRequestId]="subjectRequest?.id"></app-subject-tasks>

            <app-subject-answers></app-subject-answers>

            <app-error-message></app-error-message>
        </mat-tab>
        <mat-tab label="Flujo del asunto">
            <ng-template matTabContent>
                <app-subject-flow></app-subject-flow>
            </ng-template>
        </mat-tab>
    </mat-tab-group>

</mat-dialog-content>

<mat-dialog-actions>
    <button *ngIf="subjectRequest?.destinatario?.TURNAR" (click)="openSubjectAnswerDialog()" class="btn btn-sm btn-info subject-button">
        <fa-icon [icon]="faAnswer" size="1x" style="cursor: pointer"></fa-icon>
        Responder Asunto
    </button>

    <button *ngIf="subjectRequest?.destinatario?.TURNAR && !subjectRequest?.destinatario?.resuelto"
            (click)="marcarResuelto(subjectRequest.destinatario)" class="btn btn-sm btn-info subject-button">
        <fa-icon [icon]="faResolver" size="1x" style="cursor: pointer"></fa-icon>
        Resolver
    </button>

    <button (click)="avanzar()" class="btn btn-sm btn-info subject-button">
        <fa-icon [icon]="faTurnar" size="1x" style="cursor: pointer"></fa-icon>
        Avanzar
    </button>

    <button *ngIf="canRejectSubjectStatus"
            (click)="rejectSubject(subjectRequest?.destinatario)" class="btn btn-sm btn-info subject-button">
        <fa-icon [icon]="faResolver" size="1x" style="cursor: pointer"></fa-icon>
        Rechazar
    </button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button [mat-dialog-close]="true" class="btn btn-sm btn-info subject-button">
        <fa-icon [icon]="faCancel" size="1x" style="cursor: pointer"></fa-icon>
        Cerrar vista previa
    </button>
</mat-dialog-actions>

<app-document-viewer></app-document-viewer>

<app-notifier></app-notifier>
