
<app-default-navbar></app-default-navbar>

<div class="container forgot-password-wrapper">
  <h3 class="title">
    ¿Olvidaste tu contraseña?
  </h3>

  <p>
    No hay problema, escribe la dirección de tu correo electrónico que registraste en el sistema para que te enviemos
    una liga y puedas reestablecerla.
  </p>

  <app-error-message></app-error-message>

  <div class="alert alert-success" *ngIf="message != null">
    <p>
      {{ message }}
    </p>
  </div>


  <form [formGroup]="formGroup">

    <mat-form-field class="mt-full-width">
      <input matInput placeholder="Correo electrónico" formControlName="email"
             [ngClass]="{ 'is-invalid': submitted && form.email.errors }"/>
      <mat-error *ngIf="submitted && form.email.errors" class="invalid-feedback">
        <div *ngIf="form.email.errors.required">Email Requerido</div>
      </mat-error>
    </mat-form-field>

    <button class="btn btn-primary" (click)="sendEmail()" [disabled]="disableButton">Enviar correo
      <fa-icon *ngIf="showSpinner" [icon]="faSpinner" [spin]="true" size="1x"></fa-icon>

    </button>

  </form>



</div>