
<app-default-navbar></app-default-navbar>

<div class="container forgot-password-wrapper">
  <h3 class="title">
    Reestablecer contraseña
  </h3>

  <p>
    Por favor escribe tu nueva contraseña, debe ser alfanumércia de al menos 4 caracteres
  </p>

  <app-error-message></app-error-message>

  <form [formGroup]="formGroup">

    <mat-form-field class="mt-full-width">
      <input type="password" matInput placeholder="Contraseña" formControlName="password"
             [ngClass]="{ 'is-invalid': submitted && form.password.errors }"/>
      <mat-error *ngIf="submitted && form.password.errors" class="invalid-feedback">
        <div *ngIf="form.password.errors.required">Contraseña requerida</div>
        <div *ngIf="form.password.errors.min">Debe ser de al menos 4 caracteres</div>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="mt-full-width">
      <input type="password" matInput placeholder="Contraseña" formControlName="password_confirmation"
             [ngClass]="{ 'is-invalid': submitted && form.password_confirmation.errors }"/>
      <mat-error *ngIf="submitted && form.password_confirmation.errors" class="invalid-feedback">
        <div *ngIf="form.password_confirmation.errors.required">Contraseña requerida</div>
        <div *ngIf="form.password_confirmation.errors.min">Debe ser de al menos 4 caracteres</div>
        <div *ngIf="form.password_confirmation.errors.passwordMatch">Las contraseñas no coinciden</div>
      </mat-error>
    </mat-form-field>

    <button class="btn btn-primary" (click)="resetPassword()" [disabled]="disableButton">Reestablecer contraseña
      <fa-icon *ngIf="showSpinner" [icon]="faSpinner" [spin]="true" size="1x"></fa-icon>

    </button>

  </form>

</div>

<app-notifier></app-notifier>