<div class="container">
  <div class="admin-title-container mat-typography">
    <h2><fa-icon [icon]="titleIcon"></fa-icon> Cambiar contraseña</h2>
  </div>
  <mat-divider></mat-divider>

  <app-error-message></app-error-message>

  <mat-horizontal-stepper [linear]="true" #stepper>

    <mat-step label="Ingresar contraseña" [stepControl]="formGroup" [completed]="validPassword" >

      <form [formGroup]="formGroup">

        <mat-form-field class="mt-full-width">
          <input type="password" matInput placeholder="Contraseña" formControlName="password"
                 [ngClass]="{ 'is-invalid': submitted && form.password.errors }"/>
          <mat-error *ngIf="submitted && form.password.errors" class="invalid-feedback">
            <div *ngIf="form.password.errors.required">Contraseña requerida</div>
            <div *ngIf="form.password.errors.minLength">Debe ser de al menos 4 caracteres</div>
          </mat-error>
        </mat-form-field>

        <div class="text-danger" *ngIf="incorrectPassword">Contraseña incorrecta</div>


      </form>


      <button mat-button [disabled]="disableButton || formGroup.invalid" (click)="validateCurrentPassword()">Siguiente</button>
    </mat-step>


    <mat-step label="Nueva contraseña" [stepControl]="newPasswordForm" [completed]="true">

        <form [formGroup]="newPasswordForm">

            <mat-form-field class="mt-full-width">
                <input type="password" matInput placeholder="Contraseña" formControlName="password"
                       [ngClass]="{ 'is-invalid': submitted && formNewPassword.password.errors }"/>
                <mat-error *ngIf="submitted && formNewPassword.password.errors" class="invalid-feedback">
                    <div *ngIf="formNewPassword.password.errors.required">Contraseña requerida</div>
                    <div *ngIf="formNewPassword.password.errors.minLength">Debe ser de al menos 4 caracteres</div>
                    <div *ngIf="!passwordMatch">Las contraseñas deben coincidir</div>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="mt-full-width">
                <input type="password" matInput placeholder="Confirmar contraseña" formControlName="password_confirmation"
                       [ngClass]="{ 'is-invalid': submitted && formNewPassword.password_confirmation.errors }"/>
                <mat-error *ngIf="submitted && formNewPassword.password_confirmation.errors" class="invalid-feedback">
                    <div *ngIf="formNewPassword.password_confirmation.errors.required">Contraseña requerida</div>
                    <div *ngIf="formNewPassword.password_confirmation.errors.minLength">Debe ser de al menos 4 caracteres</div>
                    <div *ngIf="!passwordMatch">Las contraseñas deben coincidir</div>
                </mat-error>
            </mat-form-field>

        </form>

        <p *ngIf="showTimer">Serás redireccionado en {{ timeLeft }}</p>

      <button mat-button (click)="changePassword()">Cambiar Contraseña</button>
    </mat-step>

  </mat-horizontal-stepper>


</div>

<app-notifier></app-notifier>
